@page
@model DutyFree.Pages.UserOrdersModel
@{
}

<head>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.*js"></script>
    <link rel="stylesheet" href="/content/bootstrap-datetimepicker.css" />
</head>

<link rel="stylesheet" href="~/css/userOrders.css" asp-append-version="true" />

<section class="orders-banner">
    <div class="orders-banner-container">
        <div class="orders-banner-inner">
            <h1>Moje objednávky</h1>
        </div>
    </div>
    <div class="underline"></div>
</section>

<section class="orders-content-section">

    <div class="orders-datepickers">
        <div class="orders-datepicker-od">
            <div class="container">
                <div class="row">
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker();
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="orders-datepicker-do">
            <div class="container">
                <div class="row">
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker();
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="orders-tabulka">
        <table>
            <tr>
                <th>Datum</th>
                <th>Čas</th>
                <th>Produkt</th>
                <th>Cena</th>
                <th></th>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>❌</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>❌</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>❌</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>❌</td>
            </tr>
        </table>
    </div>

</section>