html {
    --primary: #f52d05;
}

.orders-banner {
    width: 100vw;
    height: 40vh;
}

.orders-banner-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/banner.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.orders-banner-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .orders-banner-inner h1 {
        color: white;
    }

.underline {
    height: 5px;
    background-color: var(--primary);
}

.orders-content-section {
    width: 75%;
    margin: auto;
}


h1 {
    text-align: center;
}

.orders-datepickers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orders-datepicker-od, .orders-datepicker-do {
    font-size: 20px;
    padding: 25px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.orders-datepicker-od p input, .orders-datepicker-do p input {
    font-size: 20px;
}

.orders-tabulka table {
    width: 100%;
}

    .orders-tabulka table tr th {
        font-weight: bold;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: #E2E5DE;
        padding: 8px 0px 8px 0px;
        text-align: left;
    }

    .orders-tabulka table tr td {
        padding: 8px 0px 0px 0px;
    }

.orders-tabulka-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.orders-total {
    font-weight: bold;
}

.orders-export {
    padding: 25px;
    float: right;
    height: 20px;
    
}

.orders-export-button {
    border-color: var(--primary);
    color: var(--primary);
    background: transparent;
    width: 100px;
    height: 40px;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    .orders-content-section {
        width: 100%;
    }

    .orders-tabulka {
        width: 95%;
        margin: 0 auto;
    }

    .orders-datepickers {
        display: flex;
        flex-direction: column;
    }

    .orders-datepicker-od, .orders-datepicker-do {
        padding: 10px;
    }
}