@model IEnumerable<Order>

@{
    DateTime now = DateTime.Now;
    string dateFrom = "dateFrom";
    string dateTo = "dateTo";
    string dateFromISO = "dateFromISO";
    string dateToISO = "dateToISO";
    int total = 0;
}

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <script>

        function getFirstDayOfMonth() {
            const now = new Date();
            const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);
            return firstDay;
        }

        function GetISODate(date) {
            var day = date.getDate();
            var month = date.getMonth();
            var year = date.getFullYear();
            var time = day + "/" + month + "/" + year;
            return time;
        }

        function CreateOrdersJS() {
            foreach
        }

        /* Updating date variables */
        function UpdateDates(){
            var dateFromObj = $("#datepicker-od").datepicker("getDate");
            @dateFrom = dateFromObj;
            @dateFromISO = GetISODate(dateFromObj);

            var dateToObj = $("#datepicker-do").datepicker("getDate");
            @dateTo = dateToObj;
            @dateToISO = GetISODate(dateToObj);
        }

        /* Switching of dates */
        function SwitchDates(dateToObjVAR, dateFromObjVAR) {
            console.log("DateTo is smaller than DateFrom!");

            $("#datepicker-od").datepicker("setDate", new Date(dateToObjVAR.getFullYear(), dateToObjVAR.getMonth(), dateToObjVAR.getDate()));
            $("#datepicker-do").datepicker("setDate", new Date(dateFromObjVAR.getFullYear(), dateFromObjVAR.getMonth(), dateFromObjVAR.getDate()));

            UpdateDates();

            console.log("DateFrom is now: " + @dateFrom);
            console.log("DateTo is now: " + @dateTo);
        }

        function RefreshTable() {
           
            let dateFromConverted = $("#datepicker-od").datepicker("getDate").toDateString();
            let dateToConverted = $("#datepicker-do").datepicker("getDate").toDateString();

            $.ajax({
                type: "GET",
                url: '@Url.Action("ShowTable","UserOrders")',
                data: {
                    "dateFrom": dateFromConverted,
                    "dateTo": dateToConverted
                },
                success: function(result){
                    $("tbody").html(result);
                }
            });
        }

        $(function () {
            /* Initialization of datepickers */

            $("#datepicker-od").datepicker();
            $("#datepicker-od").datepicker("setDate", getFirstDayOfMonth());

            $("#datepicker-do").datepicker();
            $("#datepicker-do").datepicker("setDate", "today");

            UpdateDates();

            console.log("DateFrom is now: " + @dateFrom);
            console.log("DateTo is now: " + @dateTo);

            RefreshTable();

            /* onChange event of datepickers */
            $("#datepicker-od").datepicker({
            })
                .on("change", function () {
                    dateFromObj = $("#datepicker-od").datepicker("getDate");
                    @dateFrom = dateFromObj;
                    dateToObj = $("#datepicker-do").datepicker("getDate");
                    @dateTo = dateToObj;
                    @dateFromISO = GetISODate(dateFromObj);
                    @dateToISO = GetISODate(dateToObj);

                    if (dateToObj < dateFromObj) {
                        SwitchDates(dateToObj, dateFromObj);
                    } else {
                        console.log("DateFrom is now: " + @dateFrom);
                    }
                    
                    RefreshTable();

                });

            $("#datepicker-do").datepicker({
            })
                .on("change", function () {
                    dateToObj = $("#datepicker-do").datepicker("getDate");
                    @dateTo = dateToObj;
                    dateFromObj = $("#datepicker-od").datepicker("getDate");
                    @dateFrom = dateFromObj;
                    @dateFromISO = GetISODate(dateFromObj);
                    @dateToISO = GetISODate(dateToObj);
                 
                    if (dateToObj < dateFromObj){
                        SwitchDates(dateToObj, dateFromObj);
                    }else{
                        console.log("DateTo is now: " + @dateTo);
                    }

                    RefreshTable();
                });
        });
    </script>
</head>

<link rel="stylesheet" href="~/css/userOrders.css" asp-append-version="true" />
<script src="~/js/orders.js" defer></script>

<body>
    <section class="orders-banner">
        <div class="orders-banner-container">
            <div class="orders-banner-inner">
                <h1>Moje objednávky</h1>
            </div>
        </div>
        <div class="underline"></div>
    </section>

    <section class="orders-content-section">

        <div class="orders-datepickers">
            <div class="orders-datepicker-od">
                <p>Od <input type="text" id="datepicker-od"></p>
            </div>
            <div class="orders-datepicker-do">
                <p>Do <input type="text" id="datepicker-do"></p>
            </div>
        </div>

        <div class="orders-tabulka">
            @await Html.PartialAsync("UserOrdersTable")
        </div>
        <div class="orders-export">
            <button class="orders-export-button" type"button">Export</button>
        </div>
    </section>
</body>