@model IEnumerable<Order>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <table id="orders-table">
    <tr id="head">
        <th>Datum</th>
        <th>Čas</th>
        <th>Produkt</th>
        <th>Cena</th>
        <th></th>
    </tr>
    @foreach (var obj in Model)
    {
        /*if (obj.DateCreated > DateTime.Parse(dateTo))*/
        <tr>
            <td>@obj.DateCreated</td>
            <td>13:00</td>
            <td>@obj.Name</td>
            <td>@obj.Price CZK</td>
            <td>
                @if (obj.DateCreated.AddHours(24) > DateTime.Now)
                {
                    <a class="orders-tabulka-button" href="/UserOrders/DeleteOrder?productId=@obj.ProductId">❌</a>
                }
            </td>
        </tr>
        /*total += obj.Price;*/
    }
    <tr id="bottom" class="orders-total">
        <th>Cena celkem:</th>
        <th></th>
        <th></th>
        <!--<th>total.ToString() CZK</th>-->
        <th></th>
    </tr>
</table>
