<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DutyFree.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-inner-wrap">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/Images/logo.png" class="nav-logo"/>
                </a>
                <ul class="nav-list">
                    @if (User.Identity.IsAuthenticated) {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="UserOrders" asp-action="Index">User Orders</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Security" asp-action="Index">Security</a>
                    </li>
                </ul>
            </div>
            @if (User.Identity.IsAuthenticated) {
                <div class="nav-inner-wrap">
                    <a class="nav-link" asp-area="" asp-controller="Security" asp-action="Logout">Odhlásit se</a>
                </div>
            }
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery-ui.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui-cz.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
