<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DutyFree.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script>
        function dropdown() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

</head>

<body>
    <header>
        <nav class="nav">
            <div class="nav-inner-wrap" id="myTopnav">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/Images/logo.png" class="nav-logo"/>
                </a>
                <ul class="nav-list" id="links">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Security" asp-action="Index">Security</a>
                    </li>
                    @if (User.IsInRole("1"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                    }
                </ul>
            </div>
            @if (User.Identity.IsAuthenticated) {
                <div class="nav-inner-wrap">
                    <div class="dropdown()">
                        <a onclick="dropdown()" class="dropbtn" id="nav-user-text"> 420 KČ kredit | Pepa Zdepa </a>
                        <div id="myDropdown" class="dropdown-content">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                            <a class="nav-link" asp-area="" asp-controller="UserOrders" asp-action="Index">User Orders</a>
                            <a class="nav-link" asp-area="" asp-controller="Security" asp-action="Logout">Logout</a>
                        </div>
                    </div>
                    <img src="Images/defaultuser.jpg" class="nav-user-picture" id="nav-user-img">
                </div>
            }
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery-ui.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui-cz.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
