@using DutyFree.Web.Models.Products
@{
    ViewData["Title"] = "Administration";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/14b1d02e4d.js" crossorigin="anonymous"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<section class="admin-banner">
    <div class="admin-banner-container">
        <div class="admin-banner-inner">
            <h1>Správa produktů</h1>
        </div>
    </div>
    <div class="underline"></div>
</section>

<section class="admin-content-section">
    <section class="admin-add-section">
        <a class="admin-add-button">
            <i class="fa-solid fa-circle-plus"></i>
        </a>
    </section>
    <section class="admin-table-section">
        @using (Html.BeginForm("Insert", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "insert" })) {}
        @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "edit" })) {}
        <table>
             <tr>
                <th style="width: 50%;" colspan="2">Product</th>
                <th>Price</th>
                <th>Available amount</th>
            </tr>
            
            @foreach (var product in Model)
            {
                @if (!product.isDeleted)
                {
                    <tr class="admin-product" id="@product.ProductId">
                        <td id="name">
                        <p class="admin-product-name name">@product?.Name</p>
                        <p class="admin-product-description">#Svačina #Sleva #Novinka</p>
                    </td>
                    <td id="image">
                         <img class="image" src="@product?.ImageUrl" alt="produkt" />                 
                    </td>
                        <td id="price"><span class="price">@product?.Price</span> Kč</td>
                        <td id="quantity"><span class="quantity">@product?.Quantity</span> ks</td>
                        <td>
                        <div class="edit-delete-contaniner" id="buttons">
                            <a class="admin-edit-button"><i class="fa-solid fa-wrench"></i></a>
                            <a class="admin-delete-button"><i class="fa-solid fa-xmark"></i></a>
                        </div>
                    </td>
                </tr>
                }
            }
        </table>
    </section>
</section>
